h1 {
    color: blue;
    text-align: center;
}

.logout-link {
    float: right;
    margin-right: 20px;
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
